<link rel="stylesheet" href="fluid-landing.css">
<link rel="stylesheet" href="/css/master.css">
<div class="container">
  <div class="split left">
    <h1>HMSI UNAND</h1>
    <a href="#" class="button">Go</a>
  </div>
  <div class="split right">
    <h1>ISCE UNAND</h1>
    <a href="#" class="button">Go</a>
  </div>
</div>
<script src="fluid-landing.js"></script>
